table, td{
    width: 60%;
    border: solid 1px black;
    border-collapse: collapse;
    text-align: center;
}
body{

}
form table{
    width: 40%;
}
input[type=submit]{
    background-color: darkcyan;
    padding: 2%;
    width: 40%;
    border-radius: 10px;
}